---
layout: default
title: Homepage
navbar_title: Home
---
{% include widgets/profile_card.html %}

{% include widgets/debug_repo_name.html %}

{% include widgets/debug_url.html %}

{% if site.data.display.homepage.show_experience %}
    {% include widgets/experience_card.html %}
{% endif %}

{% if site.data.display.homepage.show_news %}
    {% assign count_news = site.news | size %}
    {% if count_news > 0 %}
        {% include widgets/news_card.html limit=site.data.display.homepage.num_news %}
    {% endif %}
{% endif %}

{% if site.data.display.homepage.show_selected_publications %}
    {% assign pubs = site.publications | sort: "date" | reverse | where: "selected", true %}
    {% 
        include widgets/publication_card.html 
        publications=pubs
        title='<i class="fas fa-star"></i> Selected Publications'
    %}
{% endif %}

<div class="my-3 bg-white shadow-sm rounded-sm" style="width: 40%; margin: 0 auto;">
    <h6 class="p-3 mb-0 border-bottom border-gray" style="text-align: center;">
        Visitor Statistics
    </h6>
    <div class="px-3 pb-1">
        <table style="width: 100%; table-layout: fixed;">
            <tr>
                <td style="text-align: center; width: 50%;">
                    <div style="margin-top: 15px;"> <!-- 调整这个值来控制向下的距离 -->
                        <script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=ffffff&w=160&t=tt&d=wmkiwUpSiZT-wZmiBznL307pam0AqMIdWfpC7Fo0JXY&co=62a4d3&cmn=fea60c'></script>
                    </div>
                </td>
                <td style="text-align: center; width: 50%;">
                    <div style="margin-top: -25px;"> <!-- 调整这个值来控制向下的距离 -->
                        <script type="text/javascript" src="//rf.revolvermaps.com/0/0/6.js?i=5wccfskqce4&amp;m=7&amp;c=e63100&amp;cr1=ffffff&amp;f=arial&amp;l=0&amp;bv=60&amp;lx=-420&amp;ly=420&amp;hi=20&amp;he=7&amp;hc=a8ddff&amp;rs=80" async="async"></script>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
