<!--
<div class="my-3 bg-white shadow-sm rounded-sm" style="width: 100%; margin: 0 auto;">
    <h6 class="p-3 mb-0 border-bottom border-gray"><i class="fa-solid fa-mug-hot"></i> Visitor Statistics </h6>
    <div class="px-3 pb-1">
        <table style="width: 100%; table-layout: fixed;">
            <tr>
                <td style="text-align: center; width: 50%;">
                    <div style="margin-top: 35px;"> 
                        <script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=ffffff&w=160&t=tt&d=wmkiwUpSiZT-wZmiBznL307pam0AqMIdWfpC7Fo0JXY&co=62a4d3&cmn=fea60c'></script>
                    </div>
                </td>
                <td style="text-align: center; width: 50%;">
                    <div style="width: 200px; margin: 0 auto; margin-top: -10px; text-align: center;">
                        <script type="text/javascript" src="//rf.revolvermaps.com/0/0/6.js?i=5wccfskqce4&amp;m=7&amp;c=e63100&amp;cr1=ffffff&amp;f=arial&amp;l=0&amp;bv=60&amp;lx=-420&amp;ly=420&amp;hi=20&amp;he=7&amp;hc=a8ddff&amp;rs=80" async="async"></script>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div> 
-->

<div class="my-3 bg-white shadow-sm rounded-sm" style="width: 100%; margin: 0 auto;">
    <h6 class="p-3 mb-0 border-bottom border-gray"><i class="fa-solid fa-mug-hot"></i> Visitor Statistics </h6>
    <div class="px-3 pb-1">
        <table style="width: 100%; table-layout: fixed;">
            <tr>
                <td style="text-align: center; width: 100%;">
                    <div style="margin-top: 25px;"> <!-- 调整这个值来控制向下的距离 -->
                        <script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=ffffff&w=200&t=tt&d=wmkiwUpSiZT-wZmiBznL307pam0AqMIdWfpC7Fo0JXY&co=62a4d3&cmn=fea60c'></script>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
